.manager-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.list-manager {
  text-align: center;
  margin: 10px;
}

.manager-img {
  width: 300px; /* Adjust the width of the manager image */
  height: 150px; /* Adjust the height of the manager image */
  border-radius: 20px; /* Make the image circular */
  cursor: pointer;
}

.manager-name {
  margin-top: 10px;
  cursor: pointer;
}

.notAthorized {
  color: red;
  margin-top: 40px;
  font-size: larger;
  text-align: center;
}
 .adhome {
  width: 65%;
  margin-left: 300px;
 }

 .adminhomediv {
  position: absolute;
  top: 80px;
  left: 420px;
  text-align: center;
  font-size: 4rem;
  width: 60%;
  height: 600px;
  font-weight: bold;
  font-family: "jockey one";
  color: #f7e62c;
  background-image: url("/8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
 }

 .gbh1 {
  margin-top: 140px;
 }