.container21 {
  margin: 10% auto;
  padding: 20px;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.container21 h1 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}

.container21 .avg-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container21 h2 {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.container21 .item-details {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.container21 .item-details .item-image-container21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
}

.container21 .item-details .item-image-container21 img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container21 .item-details .item-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.container21 .item-details .item-text-container .price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.container21 .item-details .item-text-container .rating .rating-btn {
  display: inline-block;
  height: 30px;
  width: fit-content;
  box-sizing: border-box;
  border: transparent;
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #010101;
  background-color: #45aae4e8;
  cursor: pointer;
  outline: none;
}

.container21 .item-details .item-text-container .rating .rating-btn:hover {
  background-color: #010101;
  color: #fffffffb;
}

.container21 .cart-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container21 .cart-btn-container .not-available-msg p {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #dc3545;
  border-radius: 5px;
}

.container21 .cart-btn-container .add-to-cart-btn {
  display: inline-block;
  height: 44px;
  width: 160px;
  box-sizing: border-box;
  border: transparent;
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #010101;
  background-color: #fffb0be8;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.container21 .cart-btn-container .add-to-cart-btn:hover {
  background-color: #010101;
  color: #fffffffb;
}
