.showoservices {
  width: 90%;
  margin: auto;
  margin-right: 20px;
}

.searchbtn {
  margin-bottom: 20px;
}

.in {
  padding: 6px;
  width: 85%;
  margin-right: 15px;
  border: 1px grey solid;
  border-radius: 2px;
}

#search-btn {
  padding: 8px 16px;
  width: 180px;
  background-color: #007bff;
  color: black;
  border: none;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.dback1 {
  background-color: #f9f9f9;
  padding: 8px;
}


.searchbtn {
  display: flex;
}

.change-status{
  width: 50px;
}

.delete-catering{
  width: 100px;
  background-color: red;
  padding: 8px;
}

.emptyspace1 {
  margin-top: 60px;
}

.report1{
  width: 50%;
  height: 40px;
  color: white;
  background-color: black;
}

.report1:hover {
  background-color: rgb(229, 213, 31);
  color: #000;
}

.reportdownload{
  display: flex;
  justify-content: center;
}