.formbox_delivery {
  display: flex;
  justify-content: center;
}
.delivery_btn {
  background-color: #ffe40b;
  font-size: 22px;
  color: black;
  border: 2px solid #ffe40b;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 25px 0;
}
.delivery_btn:hover {
  background-color: white;
  color: #ffe40b;
  border: 2px solid #ffe40b;
}

.textsen {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 30px;
}

.delivery_form {
  width: 450px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  border: 2px solid #ffe40b;
}
.delivery_btn_cen {
  background-color: #ffe40b;
  font-size: 22px;
  color: black;
  border: 2px solid #ffe40b;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
.delivery_btn_cen:hover {
  background-color: white;
  color: #ffe40b;
  border: 2px solid #ffe40b;
}
.delivery_lable {
  font-size: 18px;
  font-weight: bold;
}
.delivery_input {
  width: 94%;
  font-size: 15px;
  padding: 3px 10px;
  margin: 10px 0;
}

.delivery_input_select {
  width: 100%;
  font-size: 15px;
  padding: 3px 10px;
  margin: 10px 0;
}

.delivery_input_time {
  width: 43%;
  font-size: 15px;
  padding: 3px 10px;
  margin: 10px 0;
}
